/* Headers de cada container */

.h1_intro {
    font-style: italic;
    color: rgb(226, 226, 14);
}

.h2_intro {
    font-style: italic;
    background-color: rgb(226, 226, 14);
}

.h2_light {
    font-style: italic;
    background-color: rgb(17, 119, 17);
    font-family: 'Courier New', Courier, monospace;
}

/* Body e containers */

body {
    background-color: rgb(194, 22, 22);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    justify-items: center;
}

.maincontainer {
    max-width: 800px;
    flex: 1 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    /* display: flex; */
}

.container0 {
    display: flex;
    flex-direction: column;
    background-color: rgb(17, 119, 17);
    margin: 5px;
}

.container1 {
    display: flex;
    flex-direction: column;
    background-color: rgb(17, 119, 17);
    margin: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sound-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
}

.yeahdudu {
    justify-content: center;
    align-items: center;
}

.container2 {
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 226, 14);
    margin: 20px;
}

.container3 {
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 226, 14);
    margin: 20px;

}

.hr_blunt {
    max-width: 100%;
    text-align: center;
    margin-top: 10px;
}

.blunt {
    padding-top: 20px;
}

/* hr {
    border: 2px solid black;
    border-radius: 5px;
} */

.introtext {
    /* display: flex; */
    border: 10px;
    flex-direction: column;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    padding: 3%;
}

.legenda {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 5%;
}

.subtitle {
    text-align: center;
    font-weight: 700;
}

.hr_flash {
    margin-top: 3%;
}

footer {
    display: flex;
}

/* img {
    max-width: 100%;
    max-height: 100%;
}

.hr_flash {
    width: 100px;
    height: 100px;
} */